body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body{
    background-color: #015cda;
    position: relative;
    height: 100vh;
}

.background{
    display: inline-block;
    height: 100%;
    width: 100%;
    background-color: #015cda;
    background-image: url("../img/hill.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: blur(20px);
}


.container{
    display: inline-block;
    font-family: system-ui, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 800px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.left{
    display: inline-block;
    width: 41%;
    background-color: #015cda;
    background-image: url("../img/hill.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    position: absolute;
    top: 20px;
    bottom: 20px;
    left: 0;
}

.Sign_in_header{
    font-size: 50px;
    font-weight: lighter;
    position: absolute;
    line-height: 55px;
    top: 40px;
    left: 60px;
    right: 30px;
    text-transform: capitalize;
}

.links{
    color: white;
    position:absolute;
    bottom:20px;
    left: 60px;
}
.links > a{
    color:white;
}

.right{
    background-color:white;
    float: right;
    width: 59%;
    padding: 60px;
    color: #B6B6B6;
}

.form_labels{
    text-transform: uppercase;
}

.close_btn{
    position: absolute;
    float:right;
    top: 15px;
    right: 15px;
    font-size: 40px;
    color: #B6B6B6;
    background-color: transparent;
    border: none;
}

form{
    display: inline-block;
    width: 100%;
}
input::placeholder{
    font-size:16px;
}

form > .form-row {
    color:  #B6B6B6;
    display: inline-block;
    width: 100%;
    margin-bottom: 40px;
  }
form > .form-row:last-of-type {
    margin-bottom: 0;
  }

.input{
    display: inline-block;
    background-color: transparent;
    border: none;
    border-bottom: solid 2px #ccc;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    
}
.form_labels {
    display: inline-block;
    width: 100%;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
  }

.form_buttons{
        float: left;
        font-size: 16px;
        line-height: 20px;
        border: none;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
        background-color: #0065D9;
        padding: 10px 49px;
        border-radius: 25px;
        border: none;
        text-transform: capitalize;
        cursor: pointer;
    }

.or{
    float: left;
    padding: 10px;
    margin-left: 24px;
    margin-right: 3px;
}

.sign_in_page{
    float:left;
    padding-top: 10px;
    line-height: 20px;
    text-decoration: none;
    font-weight: bold;
    color: #0065D9;
}