body{
    background-image: url("../img/hill.jpg");
    
}


/*.page-bg{
    background-image: url("/img/hill.jpg");
  filter        : blur(10px);
    -moz-filter   : blur(10px);
    -webkit-filter: blur(10px);
    -o-filter     : blur(10px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}*/

main{
    font-family: system-ui, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position:relative;
    width: 965px;
    top: 143px;
    left: calc((100% - 965px) / 2);
}

.left{
    float: left;
    width: 392px;
    height: 624px;
    background-image: url("../img/hill.jpg");
    background-repeat: no-repeat;
    background-size: 392px 584px;
    margin-top: 20px;
    color: white;
}

h1{
    font-size: 50px;
    font-weight: lighter;
    position: relative;
    top: -6px;
    left: 86px;
    text-transform: capitalize;
}

.reset_password{
    left: 40px;
}

.left>a{
    color: white;
    position: relative;
    top: 380px;
    left: 92px;

}

.right{
    background-color:white;
    float:right;
    width:573px;
    height: 624px;
    color: #B6B6B6;
}

.form_labels{
    text-transform: uppercase;
}

.close_btn{
    position: relative;
    float:right;
    top: 10px;
    right: 10px;
    font-size: 40px;
    color: #B6B6B6;
    background-color: transparent;
    border: none;
}

form{
    position: relative;
    top:90px;
    left: 80px;
}
input::placeholder{
    font-size:16px;
}
.input{
    color:  #B6B6B6;
    background-color: transparent;
    border: none;
    border-bottom: solid 1px;
    margin: 20px 0 49px 0;
    width: 70%;
}

.form_buttons{
    font-size:16px;
    background-color: #0065D9;
    color: white;
    font-weight: bold;
    padding: 10px 49px;
    border-radius: 25px;
    border: none;
}

.sign_in_page{
    margin-left: 24px;
}

.sign_in_page>a{
    text-decoration: none;
    font-weight: bold;
    color: #0065D9;
}